@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 1em;
  height: 1em;
}

::-webkit-scrollbar-track {
  background: #f4f4f5;
  border-radius: 100vw;
  margin-block: 10em;
}

::-webkit-scrollbar-thumb {
  /* background: rgb(14, 13, 13); */
  background: #0ea5e9;
  border-radius: 100vw;
}